%icon-size{
    width: 48px;
    height: 48px;
}

.header-app{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    padding: 1rem;

    @media (min-width: 768px){
        padding: 1rem;
    }
}

.header-logo{
   // background-color: aqua;
    position: absolute;
    top: 27px;
    left: 16px;
    display: flex;
    z-index: 1;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    padding: 0 40px 0 0;

    img{
        z-index: 1;
    }

    @media (min-width: 768px){
        position: relative;
        top: 0;
        left: 0;
    }
    
    @media (min-width: 1440px){
        
        display: flex;
        width: 25%;
        padding: 1rem;
        margin-left: 0;
    }
}

.header-user{
    display:none;

    @media (min-width: 1440px){
        display: flex;
        justify-content: flex-end;
        flex-flow: row;
        align-items: center;
        padding: 0 16px 0 0 ;
        width:25%;
    }  
}

.header-user{
    &__avatar{
        margin-right: 8px;
        height: 32px;
        width: 32px;
    }
}



