%center-icon-and-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon{
    @extend %center-icon-and-text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-decoration: none;

    &__box-img{
        @extend %center-icon-and-text;
        justify-content: center;
        margin-right: 16px;
        width: 48px;
        height: 48px;
        border-radius: 16px;
        background-color: #5081FB;
    }
}
 
.active{

    color: rgba(256, 256, 256, 0.56);

    .menu-icon__img{
        opacity: 56%;
    }

    .menu-icon__box-img{
        background: rgba(80, 129, 251, 0.16)
    }
}