//  twitter.com/davidsonfellipe

.menu-dropdown{
    position: relative;
    display: flex;
    height: 56px;
    align-items: center;
    font-size: 0;
    
    @media (min-width: 1440px){
        display: none;
        width: 100%;
    }

    &__button{
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        border: 0 ;    
        outline: none;
        font-size: 0;
        height: 48px;
        width: 48px;
        align-items: center;
        padding: 0;
        margin: 0;
        border-radius: 16px;

        &:hover{
            background: rgba(80, 129, 251, 0.08)
        }

        &:active{
            background: rgba(80, 129, 251, 0.16);
        }
    }
}

.dropdown__box{
    position: absolute;
    top: 58px;
    right: 0; 

    padding: 16px;
    z-index: 10;
    height: auto;
    background-color: #2d415b;
    border-radius: 8px;

    
    width: 250px;

    overflow: hidden;
}

