@mixin menu-column{
    padding: 16px;
    width: 25%;
}


main{
    padding: 0 16px;

    @media (min-width: 1440px){
        display: flex;
    }
}

.grid-column{
    width: 100%;


    @media (min-width: 960px){
        display: flex;
    }
}

.grid-column{

    &__title{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .4rem; 
        text-transform: uppercase;
        margin: 0 0 16px 0;
    }

    &__menu{
        @include menu-column;  
        display: none;

        @media (min-width: 1440px){
            display: block;
        }
    }

    &__right-menu{
        padding: 0;
        width: 100%;

        @media (min-width: 960px){
            width: 40%;
            padding-left: 1rem;
        }

        @media (min-width: 1440px){
            @include menu-column; 
        }
    }

    &__editor{
        color: black;
        padding: 0px;
        width: 100%;
        margin-bottom: 40px;

        @media (min-width: 960px){
            width: 60%;
        }

        @media (min-width: 1440px){
            width: 50%;
            padding: 1rem;
        }
    }

    &__community{
        color: black;
        padding: 16px;
        width: 100%;
        background-color: white;
        margin-bottom: 40px;

        @media (min-width: 1440px){
            width: 75%
        }
    }
}

