
%editor-config{
    border: none;
    border-radius: 8px;
    width: 100%;
    
}

.code-editor{
    @extend %editor-config; 

    display: flex;
    flex-direction: column;
    padding: 32px;
    background: #6BD1FF;
    margin-bottom: 32px;

    &--card{
        @extend .code-editor;
        padding: 24px;
        margin-bottom: 0;
    }

    &__window{
        @extend %editor-config; 
        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;
        padding-top: 40px;
        border-radius: 8px;
        color: white;
        background-color:rgb(43, 43, 43);
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
        overflow: hidden;

        pre{
            margin: 0;
            padding: 16px !important;
        }

        &::before{
            content: '';
            color: aliceblue;
            position: absolute;
            top: 16px;
            left: 16px;
            display: block;
            background-image: url(../../Images/mac_buttons-icon.svg);
            background-repeat: no-repeat;
            height: 16px;
            width: 52px;
        }
    }    

    &__text-editor{
        @extend %editor-config; 
        background-color:rgb(43, 43, 43);
        color: white;
        position: relative;
        padding: 16px;
        font-size: 14px;
        line-height: 18px;
        outline: none;
        min-height: 385px;
        height: auto !important;
        
    }

    &__highlight-button{
        border-radius: 8px;
        border: none;
        width: 100%;
        background: rgba(80, 129, 251, 0.08);
        border-radius: 8px;
        height: 56px;
        color: white;
    }
}

